/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-91afe-0jdwc2e5.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 248px;
}
 
 #vbid-91afe-wiliekwc.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 138px;
} 
 #vbid-91afe-wiliekwc.item-box > .item-wrapper    {
	max-width: 996px;
}
 
 #vbid-91afe-xko9iii0.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 349px;
}
 
 #vbid-91afe-9qgqd907.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-91afe-wbvs5ug1.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-91afe-wbvs5ug1.item-box > .item-wrapper    {
	max-width: 1872px;
}
 
 #vbid-91afe-1tyicbbc.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 570px;
}
 
 #vbid-91afe-aderj3wj   {
	background-position: 49.0654220581055% 35.3061218261719%;
}
 
 #vbid-91afe-uys6099x.master.item-box    {
	padding-top: 0px;
	padding-bottom: 35px;
	min-height: 1343px;
} 
 #vbid-91afe-uys6099x.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-91afe-wvhfbx45.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 243px;
} 
 #vbid-91afe-wvhfbx45.item-box > .item-wrapper    {
	max-width: 1178px;
}
 
 #vbid-91afe-tx9hepk0.master.item-box    {
	padding-top: 0px;
	min-height: 651px;
	padding-bottom: 0px;
} 
 #vbid-91afe-tx9hepk0.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-91afe-jg4kdis4.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-91afe-gjzcx6k2.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 484px;
}
 
 #vbid-91afe-haksvut4.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 651px;
} 
 #vbid-91afe-haksvut4.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-91afe-bywyawiz.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
} 
 #vbid-91afe-bywyawiz.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-91afe-dwzhurju.master.item-box    {
	padding-top: 0px;
	min-height: 499px;
}
 
 #vbid-91afe-vllny1m3   {
	background-position: 49.0595626831055% 36.8702278137207%;
}
 
 #vbid-91afe-nugxulkw.master.item-box    {
	padding-top: 50px;
	padding-bottom: 20px;
} 
 #vbid-91afe-nugxulkw.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-91afe-yfej10qa.master.item-box    {
	min-height: 641px;
}
 
 #vbid-91afe-iytyyhb0.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 243px;
} 
 #vbid-91afe-iytyyhb0.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-91afe-u1zdq9ue.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-91afe-xurofybr.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 641px;
}
 
 #vbid-91afe-a79rt6eh.master.item-box    {
	padding-top: 0px;
	min-height: 651px;
	padding-bottom: 0px;
} 
 #vbid-91afe-a79rt6eh.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-91afe-sxgfjutv.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 369px;
}
 
 #vbid-91afe-sdb7cjfb.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-91afe-sdb7cjfb.item-box > .item-wrapper    {
	max-width: 1140px;
}
 
 #vbid-91afe-nscmt0xu.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 589px;
}
 
 #vbid-91afe-1d5vfg3c.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 699px;
}
 
 #vbid-91afe-btjm8iu4.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 654px;
}
 
 #vbid-91afe-lybqspxj.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 405px;
}
 
 #vbid-91afe-8grtmq0i.master.item-box    {
	padding-bottom: 0px;
	min-height: 73px;
}
 
 #vbid-91afe-fidqrzom.master.item-box    {
} 
 #vbid-91afe-fidqrzom.master.item-box    {
	min-height: 177px;
} 
 #vbid-91afe-fidqrzom.item-box > .item-wrapper    {
	max-width: 1056px;
}
 
 #vbid-91afe-p4bp78qp.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 366px;
}
 
 #vbid-91afe-68js81dk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 35px;
	min-height: 1343px;
}
 
 #vbid-91afe-xjg0kntt.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 654px;
}
 
 #vbid-91afe-oay9zpoh.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
}
 
 #vbid-91afe-ar1y20cr.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 883px;
}
 
 #vbid-91afe-0sjfaj35.master.item-box    {
	min-height: 699px;
}
 
 #vbid-91afe-v4qd3ccp.master.item-box    {
	min-height: 496px;
}
 
 #vbid-91afe-uozl9u1h.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 579px;
}
 
 #vbid-91afe-mgz6hrj0.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 570px;
}
 
 #vbid-91afe-gvpwgyha   {
	background-position: 49.6865196228027% 35.2409629821777%;
}
 
 #vbid-91afe-wsaqnzsv   {
	background-position: 50.3738327026367% 27.1428565979004%;
}
 
 #vbid-91afe-kdn1uobf.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 641px;
}
 
 #vbid-91afe-fjcxgcid.master.item-box    {
	padding-top: 0px;
	min-height: 539px;
}
 
 #vbid-91afe-94lbkklb.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 647px;
}
 
 #vbid-91afe-ew1gvfpk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 492px;
}
 
 #vbid-91afe-iqmjbode.master.item-box    {
	min-height: 254px;
}
 
 #vbid-91afe-aqzu6c5p.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-91afe-f7hbt1pv.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 351px;
} 
 #vbid-91afe-f7hbt1pv.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-91afe-1nzzivya.master.item-box    {
	min-height: 773px;
}
 
 #vbid-91afe-xiz2mepx.master.item-box    {
	padding-top: 0px;
	min-height: 539px;
}
 
 #vbid-91afe-evmgx4fs.master.item-box    {
	min-height: 395px;
}
 
 #vbid-91afe-q4rgn45i.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 745px;
}
 
 #vbid-91afe-uzfbpi1d.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 249px;
}
 
 #vbid-91afe-bamnuqwu.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 236px;
} 
 #vbid-91afe-bamnuqwu.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-91afe-ocj0qoh5.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 118px;
}
 
 #vbid-91afe-jzykw4xb.master.item-box    {
	min-height: 553px;
}
 
 #vbid-91afe-noeyys8w.master.item-box    {
	min-height: 597px;
}
 
 #vbid-91afe-6rqlkrzp.master.item-box    {
	padding-top: 35px;
	padding-bottom: 20px;
	min-height: 202px;
} 
 #vbid-91afe-6rqlkrzp.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-91afe-igfsb8ce.master.item-box    {
	padding-top: 0px;
	min-height: 579px;
}
 
 #vbid-91afe-k1y1qdbw.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 451px;
}
 
 #vbid-91afe-fisukxfb.master.item-box    {
	min-height: 528px;
}
 
 #vbid-91afe-kgvb34om.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 110px;
}
 
 #vbid-91afe-i9oy8a46.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-91afe-2xxftir5.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 163px;
}
 
 #vbid-91afe-1ziwsx8s.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 690px;
}
 
 #vbid-91afe-gtfaerri.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-91afe-tnjizwxv.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 641px;
}
 
 #vbid-91afe-q5tipxbl.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-91afe-f4ansy3h.master.item-box    {
	padding-top: 45px;
	padding-bottom: 20px;
}
 
 #vbid-91afe-mhxsauxq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 647px;
}
 
 #vbid-91afe-zrdb8emr.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-91afe-s7dfazji.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-91afe-s7dfazji.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-91afe-rsk0qbbs.master.item-box    {
} 
 #vbid-91afe-rsk0qbbs.master.item-box    {
	padding-top: 0px;
	min-height: 285px;
}
 
 #vbid-91afe-5jks4cpm.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 364px;
} 
 #vbid-91afe-5jks4cpm.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-91afe-llqycoqb.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-91afe-fhnrtuhv.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 384px;
}